/* GENERAL */

:root {
  --main-font-family: 'Arimo', sans-serif;
  --menu-color: #cdced2;
  --active-elements-color: #fe0000;
  --main-text-color: #1e2c39;
  --secondary-text-color: #fefefe;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  display: flex;
}

main {
  min-height: 100vh;
  width: 100%;
}

/* INDEX.HTML */

/* header */
.page-header {
  background-image: url(../images/background/bg-header.jpg);
  min-width: 270px;
  z-index: 999;
  min-height: 100vh;
  padding-top: 20px;
  position: fixed;
}
.logo-img {
  display: block;
  margin: 0 auto;
}
.language-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.language-chooser {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-right: 12px;
  padding-left: 12px;
}
.language-link {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: bold;
  color: var(--main-text-color);
}
.language-link:hover,
.language-link:focus {
  color: var(--active-elements-color);
}
.current-lang {
  color: var(--active-elements-color);
  font-size: 18px;
  font-weight: bold;
}
.navigation-menu {
  margin-bottom: 40px;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.current-page {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.current-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2.5px;
  background: var(--active-elements-color);
  border-radius: 2px;
}
.navigation-link {
  font-family: var(--main-font-family);
  font-size: 24px;
  color: var(--main-text-color);
}
.social-media-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
  padding-left: 12px;
  padding-right: 12px;
}
.social-media-link {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}
.social-media-link:hover,
.navigation-link:hover,
.social-media-link:focus,
.navigation-link:focus {
  color: var(--active-elements-color);
}

/* hero */

/* slider */
@keyframes bg-сhange {
  from {
    background-image: url(../images/background/slide1.jpg);
  }
  20% {
    background-image: url(../images/background/slide2.jpg);
  }
  40% {
    background-image: url(../images/background/slide3.jpg);
  }
  60% {
    background-image: url(../images/background/slide4.jpg);
  }
  80% {
    background-image: url(../images/background/slide5.jpg);
  }
  to {
    background-image: url(../images/background/slide1.jpg);
  }
}
#bg {
  background-size: cover;
  animation: bg-сhange 20s infinite;
  width: 100%;
  min-height: 100vh;
}
.phone-section {
  padding-top: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.phone-link {
  font-family: var(--main-font-family);
  font-size: 21px;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  z-index: 100;
}
.phone-link:hover,
.phone-link:focus {
  color: var(--active-elements-color);
}
.call-btn {
  border: none;
  max-width: 206px;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.call-btn:hover,
.call-btn:focus-visible {
  background-color: var(--active-elements-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .phone-link {
    font-size: 16px;
  }
  .call-btn {
    min-width: 100px;
    padding: 6px 12px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .call-btn {
    min-width: 169px;
    padding: 12px 24px;
  }
}

/* mobile menu */
@media screen and (max-width: 767px) {
  .page-header {
    display: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    margin-top: 24px;
    margin-left: 24px;
    position: absolute;
    z-index: 500;
  }
  .mobile-menu-open-btn-icon {
    stroke: var(--secondary-text-color);
  }

  .backdrop-mobile {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.9);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
  }
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    min-width: 180px;
    height: 100%;
    background-image: url(../images/background/bg-header.jpg);
    pointer-events: none;
    transform: translate(-100%);
    transition: transform 0.5s;
  }
  .backdrop-mobile.active {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1000;
    max-width: 58%;
    transform: translate(0);
    overflow: auto;
    z-index: 1001;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
    padding: 0;
  }
  .mobile-logo-img {
    margin: 0 auto;
    margin-top: 40px;
  }
  .mobile-language-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .language-link-mobile {
    font-family: var(--main-font-family);
    font-size: 20px;
    font-weight: bold;
    color: var(--main-text-color);
  }
  .mobile-navigation-menu {
    padding-bottom: 20px;
  }
  .mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .mobile-navigation-link {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 16px;
    color: var(--main-text-color);
  }
  .mobile-social-media-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: start;
  }
  .mobile-social-media-link {
    font-family: var(--main-font-family);
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--main-text-color);
  }
  .mobile-social-media-link:hover,
  .navigation-link:hover,
  .mobile-social-media-link:focus,
  .mobile-navigation-link:focus {
    color: var(--active-elements-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  body {
    overflow-y: auto;
  }
}

/* modal */
.backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.9);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 376px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
  transition: transform var(--transition-duration-function);
  padding: 32px 24px;
  z-index: 1001;
}
.backdrop.active,
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--menu-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-elements-color);
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--secondary-text-color);
}
.modal-close-icon {
  fill: var(--main-text-colorma);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.contact-form-wrapper {
  margin-bottom: 8px;
}
.contact-form-field-wrapper,
.contact-form-checkbox-wrapper {
  display: block;
  font-family: var(--main-font-family);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--menu-color);
}
.contact-form-input-wrapper {
  position: relative;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 48px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: var(--active-elements-color);
}
.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-wrapper-field {
  margin-bottom: 16px;
}
.contact-form-submit {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--menu-color);
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: var(--active-elements-color);
}

/* PRODUCTION.HTML */

/* slider */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/background/bg-header.jpg);
}
.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  min-height: 100vh;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel__item {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}
.slide-1 {
  background-image: url(../images/production/slide1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-2 {
  background-image: url(../images/production/slide2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-3 {
  background-image: url(../images/production/slide3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-4 {
  background-image: url(../images/production/slide4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-5 {
  background-image: url(../images/production/slide5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-6 {
  background-image: url(../images/production/slide6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.controls {
  bottom: 40px;
  display: flex;
  gap: 10px;
  z-index: 100;
}
.controls__dot {
  width: 20px;
  height: 20px;
  background: var(--secondary-text-color);
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s;
}
.current-dot {
  opacity: 1;
  width: 50px;
  &:hover,
  &:focus {
    opacity: 1;
    width: 50px;
    background: var(--secondary-text-color);
    cursor: auto;
  }
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* hero */
.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 12vh;
  height: 375px;
  width: 95%;
  max-width: 600px;
  background-image: url(../images/production/category-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.production-header {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--secondary-text-color);
}
.lupa-icon {
  fill: var(--main-text-color);
}
.production-list-btn {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-text-color);
  color: var(--main-text-colorm);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.production-list-btn:hover,
.production-list-btn:focus-visible {
  background-color: var(--active-elements-color);
}
.production-bottom-menu {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 80px;
  background-image: url(../images/background/bg-header.jpg);
  overflow-x: auto;
  z-index: 2;
}
.bottom-links-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.production-bottom-link {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--main-text-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 424px) {
  .controls__dot {
    height: 15px;
    width: 15px;
  }
  .current-dot {
    width: 35px;
  }
}

@media screen and (max-width: 767px) {
  .production {
    gap: 16px;
    margin-left: 0;
  }
  .production-header {
    font-size: 16px;
  }
  .production-list-btn {
    font-size: 16px;
    min-width: 100px;
    padding: 6px 12px;
  }
  .production-bottom-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-left: 260px;
  }
  .production {
    gap: 32px;
  }
  .production-list-btn {
    min-width: 169px;
    padding: 12px 24px;
  }
  .production-bottom-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .controls__dot {
    &:hover,
    &:focus-visible {
      opacity: 1;
      width: 50px;
      background: var(--active-elements-color);
    }
  }
  .current-dot:hover,
  .current-dot:focus {
    background: var(--secondary-text-color);
  }
  .production-bottom-link:hover,
  .production-bottom-link:focus {
    color: var(--active-elements-color);
  }
}

/* ABOUT.HTML */

/* hero */
.about-hero {
  background: url(../images/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-left: 270px;
}
.about-phone-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.about-header {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--main-text-color);
  display: block;
  background-color: var(--menu-color);
  border-radius: 10px;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
}
.about-top {
  background-color: var(--menu-color);
  border-radius: 10px;
  padding: 8px;
}
.about-avatar {
  height: 295px;
  float: left;
  margin: 8px 8px 8px 0;
}
.about-text {
  font-weight: var(--main-font-family);
  color: var(--main-text-color);
}
.about-images {
  background-color: var(--menu-color);
  border-radius: 10px;
  padding: 8px;
}
.about-block-header {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--main-text-color);
  display: block;
  text-align: center;
}
.problems-container {
  display: flex;
  justify-content: center;
}
.about-problem-image {
  height: 175px;
}
.problems-list-item {
  text-align: center;
  background-color: var(--menu-color);
  border-radius: 10px;
  padding: 8px;
}
.call-btn-bottom {
  margin: 0 auto;
  border: none;
  max-width: 206px;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.call-btn-bottom:hover,
.call-btn-bottom:focus-visible {
  background-color: var(--active-elements-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .about-header {
    margin-top: 48px;
    padding: 6px;
  }
  .about-text {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
  }
  .problems-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
  .call-btn-bottom {
    min-width: 100px;
    padding: 6px 12px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
  }
  .about-header {
    margin-top: 48px;
    padding: 12px;
  }
  .about-text {
    font-size: 24px;
  }
  .problems-list {
    display: flex;
    column-gap: 24px;
  }
  .call-btn-bottom {
    min-width: 169px;
    padding: 12px 24px;
  }
}

@media screen and (max-width: 1023px) {
  .about-header {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 374px) {
  .about-header {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .about-header {
    font-size: 44px;
  }
}

/* CONTACTS.HTML */

/* hero */
.contacts-main {
  background-image: url(../images/contacts/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin-left: 270px;
}
.contacts-phone-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.contacts-phone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 12px;
  background-color: var(--menu-color);
  border-radius: 10px;
}
.contacts-page-container {
  display: flex;
  align-items: center;
}
.contacts-header {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--main-text-color);
  display: block;
  background-color: var(--menu-color);
  border-radius: 10px;
}
.contacts-form-container {
  border: 2px solid var(--main-text-color);
  background-color: var(--menu-color);
}
.contacts-form-header {
  font-family: var(--main-font-family);
  text-align: center;
  padding-top: 12px;
  color: var(--main-text-color);
}
.contacts-form-field-wrapper {
  display: block;
  font-family: var(--main-font-family);
  margin: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}
.contacts-form-input-wrapper {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}
.contacts-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus,
.contacts-form-message:focus {
  border-color: var(--active-elements-color);
}
.contacts-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-wrapper-field {
  margin-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
}
.contacts-form-message {
  resize: none;
  width: 100%;
  max-height: 60px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  padding: 8px 16px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  display: block;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-submit:hover,
.contacts-form-submit:focus {
  background-color: var(--active-elements-color);
}
.adres-wraper {
  background-color: var(--menu-color);
  padding: 16px;
  border-radius: 10px;
}
.adres-header {
  font-family: var(--main-font-family);
  font-weight: bold;
  color: var(--main-text-color);
  padding-bottom: 12px;
}
.adres-text {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
}
.adres-link {
  font-family: var(--main-font-family);
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.adres-link:hover,
.adres-link:focus {
  color: var(--active-elements-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .adres-wraper {
    max-width: 450px;
  }
  .contacts-header {
    margin-top: 48px;
    padding: 6px;
  }
  .contacts-phone-wrapper {
    padding: 6px 6px 6px 0px;
  }
  .contacts-form-header {
    font-size: 18px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .contacts-form-message {
    height: 120px;
  }
  .contacts-form-submit {
    min-width: 100px;
    padding: 6px 12px;
    margin-bottom: 12px;
  }
  .adres-phone-wrapper {
    margin-bottom: 25px;
  }
  .adres-header {
    font-size: 16px;
  }
  .adres-text {
    font-size: 12px;
  }
  .adres-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .contacts-page-container {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 20px;
  }
  .contacts-header {
    font-size: 24px;
    text-align: center;
  }
  .contacts-form-container {
    max-width: 95%;
    width: 450px;
    min-height: 300px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 374px) {
  .contacts-header {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header {
    margin-top: 48px;
    padding: 12px;
  }
  .contacts-phone-wrapper {
    padding: 12px;
  }
  .contacts-form-container {
    min-width: 350px;
    min-height: 484px;
    width: 450px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .contacts-form-message {
    height: 175px;
  }
  .contacts-form-submit {
    min-width: 169px;
    padding: 16px 32px;
  }
  .adres-wraper {
    min-width: 200px;
    margin-right: 20px;
  }
  .adres-phone-wrapper {
    margin-bottom: 50px;
  }
  .adres-header {
    font-size: 28px;
  }
  .adres-text {
    font-size: 24px;
  }
  .adres-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-page-container {
    justify-content: space-evenly;
    margin-top: 86px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .contacts-header {
    font-size: 44px;
  }
}

/* BLOG.HTML */

.blog-wrapper {
  background-image: url('../images/blog/blog-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 270px;
}
