/* GENERAL */

:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #434455;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-dark: #2e2f42;
  --secondary-text-color-theme-light: #f4f4fd;
  --accent-color: #404bbf;
  --primary-color: #4d5ae5;
  --portfolio-btn-color: #e7e9fc;
  --link-customer-color: #8e8f99;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color-theme-dark);
  background-color: var(--primary-text-color-theme-light);
  display: flex;
}

main {
  min-height: 100vh;
  width: 100%;
}

/* INDEX.HTML */

/* header */
.page-header {
  background-color: #8e8f99;
  min-width: 130px;
  z-index: 2000;
  min-height: 100vh;
}
.logo-img {
  height: 80px;
  margin: 0 auto;
  padding-top: 20px;
}
.language-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navigation-menu {
  padding-bottom: 20px;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.navigation-item {
  color: var(--accent-color);
}
.current-page {
  font-weight: bold;
  position: relative;
}
.current-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2.5px;
  background: var(--accent-color);
  border-radius: 2px;
}
.navigation-link {
  color: aquamarine;
}
.social-media-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.social-media-link {
  display: flex;
  align-items: center;
  color: aqua;
}
.social-media-link:hover .contacts-icon,
.social-media-link:hover,
.navigation-link:hover,
.social-media-link:focus .contacts-icon,
.social-media-link:focus,
.navigation-link:focus {
  color: #4d5ae5;
  stroke: #4d5ae5;
  fill: #4d5ae5;
}
.contacts-icon {
  stroke: aqua;
  fill: aqua;
}

/* hero */

/* slider */
@keyframes bg-сhange {
  from {
    background-image: url(../images/background/slide1.jpg);
  }
  20% {
    background-image: url(../images/background/slide2.jpg);
  }
  40% {
    background-image: url(../images/background/slide3.jpg);
  }
  60% {
    background-image: url(../images/background/slide4.jpg);
  }
  80% {
    background-image: url(../images/background/slide5.jpg);
  }
  to {
    background-image: url(../images/background/slide1.jpg);
  }
}
#bg {
  background-size: cover;
  animation: bg-сhange 20s infinite;
  width: 100%;
  min-height: 100vh;
}
.phone-section {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding-right: 24px;
}
.phone-link {
  color: aqua;
  display: flex;
  align-items: center;
  z-index: 100;
}
.phone-link:hover,
.phone-link:hover .contacts-icon,
.phone-link:focus,
.phone-link:focus .contacts-icon {
  color: #4d5ae5;
  stroke: #4d5ae5;
  fill: #4d5ae5;
}
.call-btn {
  border: none;
  max-width: 196px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: aqua;
  color: var(--primary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}
.call-btn:hover,
.call-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .call-btn {
    min-width: 100px;
    padding: 6px 12px;
  }
}

@media screen and (min-width: 768px) {
  .call-btn {
    min-width: 169px;
    padding: 12px 24px;
  }
}

/* mobile menu */
@media screen and (max-width: 767px) {
  .page-header {
    display: none;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    padding-top: 24px;
    padding-left: 24px;
    position: absolute;
    z-index: 500;
  }
  .mobile-menu-open-btn-icon {
    stroke: aqua;
  }

  .backdrop-mobile {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.9);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
  }
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--secondary-text-color-theme-dark);
    pointer-events: none;
    transform: translate(-100%);
    transition: transform 0.5s;
  }
  .backdrop-mobile.active {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1000;
    max-width: 35%;
    transform: translate(0);
    overflow: auto;
    z-index: 1001;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--portfolio-btn-color);
    border: 1px solid var(--secondary-text-color-theme-dark);
    border-radius: 50%;
    padding: 0;
  }
  .mobile-logo-img {
    height: 80px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .mobile-language-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mobile-navigation-menu {
    padding-bottom: 20px;
  }
  .mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .navigation-item {
    color: var(--accent-color);
  }
  .current-page {
    font-weight: bold;
    position: relative;
  }
  .current-page::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -2.5px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .mobile-navigation-link {
    color: aquamarine;
  }
  .mobile-social-media-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-social-media-link {
    display: flex;
    align-items: center;
    color: aqua;
    font-size: 12px;
  }
  .mobile-social-media-link:hover .mobile-contacts-icon,
  .mobile-social-media-link:hover,
  .navigation-link:hover,
  .mobile-social-media-link:focus .mobile-contacts-icon,
  .mobile-social-media-link:focus,
  .mobile-navigation-link:focus {
    color: #4d5ae5;
    stroke: #4d5ae5;
    fill: #4d5ae5;
  }
  .mobile-contacts-icon {
    stroke: aqua;
    fill: aqua;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }
}

/* modal */
.backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.9);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 376px;
  background-color: #fcfcfc;
  border-radius: 15px;
  transition: transform var(--transition-duration-function);
  padding: 32px 24px;
  z-index: 1001;
}
.backdrop.active,
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--portfolio-btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal-close-icon {
  fill: var(--secondary-text-color-theme-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 16px;
}
.contact-form-wrapper {
  margin-bottom: 8px;
}
.contact-form-field-wrapper,
.contact-form-checkbox-wrapper {
  display: block;
  font-family: var(--main-font-family);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customer-color);
}
.contact-form-input-wrapper {
  position: relative;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: var(--primary-color);
}
.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  fill: var(--secondary-text-color-theme-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--primary-color);
}
.contact-form-wrapper-field {
  margin-bottom: 16px;
}
.contact-form-submit {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-color);
  color: var(--primary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: var(--accent-color);
}

/* PRODUCTION.HTML */

/* slider */
.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.switch input {
  display: none;
}
.controls {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 100;
}
.controls label {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s;
}
.switch input:nth-child(1):checked ~ .controls label:nth-child(1),
.switch input:nth-child(2):checked ~ .controls label:nth-child(2),
.switch input:nth-child(3):checked ~ .controls label:nth-child(3),
.switch input:nth-child(4):checked ~ .controls label:nth-child(4),
.switch input:nth-child(5):checked ~ .controls label:nth-child(5),
.switch input:nth-child(6):checked ~ .controls label:nth-child(6),
.switch input:nth-child(7):checked ~ .controls label:nth-child(7),
.switch input:nth-child(8):checked ~ .controls label:nth-child(8) {
  opacity: 1;
  width: 50px;
}
.wrapper {
  position: relative;
  width: 800vw;
  display: flex;
  transition: 0.5s;
}
.wrapper .box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .box:nth-child(1) {
  background: url(../images/production/category-bg.png), url(../images/production/slide1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(2) {
  background: url(../images/production/category-bg.png), url(../images/production/slide2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(3) {
  background: url(../images/production/category-bg.png), url(../images/production/slide3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(4) {
  background: url(../images/production/category-bg.png), url(../images/production/slide4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(5) {
  background: url(../images/production/category-bg.png), url(../images/production/slide5.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(6) {
  background: url(../images/production/category-bg.png), url(../images/production/slide6.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(7) {
  background: url(../images/production/category-bg.png), url(../images/production/slide7.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .box:nth-child(8) {
  background: url(../images/production/category-bg.png), url(../images/production/slide8.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.switch input:nth-child(1):checked ~ .wrapper {
  left: 0;
}
.switch input:nth-child(2):checked ~ .wrapper {
  left: -100vw;
}
.switch input:nth-child(3):checked ~ .wrapper {
  left: -200vw;
}
.switch input:nth-child(4):checked ~ .wrapper {
  left: -300vw;
}
.switch input:nth-child(5):checked ~ .wrapper {
  left: -400vw;
}
.switch input:nth-child(6):checked ~ .wrapper {
  left: -500vw;
}
.switch input:nth-child(7):checked ~ .wrapper {
  left: -600vw;
}
.switch input:nth-child(8):checked ~ .wrapper {
  left: -700vw;
}

/* hero */
.production {
  display: flex;
  flex-direction: column;
}
.production-heder {
  text-align: center;
  color: var(--primary-text-color-theme-light);
}
.lupa-icon {
  fill: var(--primary-text-color-theme-light);
}
.production-list-btn {
  display: flex;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-color);
  color: var(--primary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.production-list-btn:hover,
.production-list-btn:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .controls {
    left: 50%;
    top: 55%;
  }
  .production {
    gap: 16px;
  }
  .production-heder {
    font-size: 16px;
  }
  .production-list-btn {
    min-width: 100px;
    padding: 6px 12px;
  }
  .wrapper .box:nth-child(1),
  .wrapper .box:nth-child(2),
  .wrapper .box:nth-child(3),
  .wrapper .box:nth-child(4),
  .wrapper .box:nth-child(5),
  .wrapper .box:nth-child(6),
  .wrapper .box:nth-child(7),
  .wrapper .box:nth-child(8) {
    background-size: 95%, cover;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 65px;
  }
  .controls {
    padding-left: 130px;
    left: 50%;
    top: 60%;
  }
  .wrapper .box:nth-child(1),
  .wrapper .box:nth-child(2),
  .wrapper .box:nth-child(3),
  .wrapper .box:nth-child(4),
  .wrapper .box:nth-child(5),
  .wrapper .box:nth-child(6),
  .wrapper .box:nth-child(7),
  .wrapper .box:nth-child(8) {
    background-size: auto, cover;
  }
  .production {
    gap: 32px;
  }
  .production-list-btn {
    min-width: 169px;
    padding: 12px 24px;
  }
}

/* ABOUT.HTML */

/* hero */
.about-hero {
  background: url(../images/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.about-heder {
  color: var(--primary-color);
  display: block;
}
.about-text {
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .about-heder {
    font-size: 24px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .about-text {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
  }
  .about-heder {
    font-size: 44px;
    padding-bottom: 48px;
  }
  .about-text {
    font-size: 24px;
  }
}

/* CONTACTS.HTML */

/* hero */
.contacts-main {
  background-image: url(../images/contacts/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-page-container {
  display: flex;
  align-items: center;
}
.contacts-heder {
  color: var(--primary-color);
  display: block;
}
.contacts-form-container {
  border: 2px solid #4d5ae5;
  background-color: #2e2f42;
}
.contacts-form-heder {
  text-align: center;
  padding-top: 12px;
  color: var(--primary-text-color-theme-light);
}
.contacts-form-field-wrapper {
  display: block;
  font-family: var(--main-font-family);
  margin: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customer-color);
}
.contacts-form-input-wrapper {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}
.contacts-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus {
  border-color: var(--primary-color);
}
.contacts-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  fill: var(--secondary-text-color-theme-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus + .contacts-form-input-icon {
  fill: var(--primary-color);
}
.contacts-form-wrapper-field {
  margin-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
}
.contacts-form-message {
  resize: none;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  display: block;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-message:focus {
  outline: none;
  border-color: var(--primary-color);
}
.contacts-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-color);
  color: var(--primary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-submit:hover,
.contacts-form-submit:focus {
  background-color: var(--accent-color);
}
.adres-heder {
  color: var(--primary-color);
  padding-bottom: 12px;
}
.adres-text {
  color: var(--primary-color);
}
.adres-link {
  display: flex;
  align-items: center;
  color: aqua;
}
.adres-link:hover,
.adres-link:focus,
.adres-link:hover .contacts-icon,
.adres-link:focus .contacts-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .contacts-page-container {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 36px;
  }
  .contacts-heder {
    font-size: 24px;
    text-align: center;
    padding-top: 48px;
  }
  .adres-wraper {
    max-width: 450px;
  }
  .contacts-form-container {
    max-width: 95%;
    width: 450px;
    min-height: 300px;
    margin-top: 20px;
  }
  .contacts-form-heder {
    font-size: 18px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .contacts-form-message {
    height: 120px;
  }
  .contacts-form-submit {
    min-width: 100px;
    padding: 6px 12px;
    margin-bottom: 12px;
  }
  .adres-heder {
    font-size: 16px;
  }
  .adres-text {
    font-size: 12px;
  }
  .adres-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-page-container {
    justify-content: space-evenly;
    margin-top: 86px;
    margin-bottom: 24px;
  }
  .contacts-heder {
    font-size: 44px;
    margin-left: 48px;
    margin-top: 48px;
  }
  .contacts-form-container {
    min-height: 625px;
    width: 450px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .contacts-form-message {
    height: 175px;
  }
  .contacts-form-submit {
    min-width: 169px;
    padding: 16px 32px;
  }
  .adres-heder {
    font-size: 28px;
  }
  .adres-text {
    font-size: 24px;
  }
  .adres-link {
    font-size: 24px;
  }
}
